.container{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 5cm 3cm 4cm 5cm 6cm;
    grid-template-columns: 5cm 5cm 5cm 5cm 5cm 5cm 5cm;
    gap: 20px;
}

/* For element 2 */
.d1{
    background-color: blue;
    color: black;
    /*grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 6;*/

    grid-column: 2/6;
    text-align: center;
    align-items: center;
    border: solid;
    border-color: black;
}

/* for logo element*/

.d2{
    background-color: green;
    color: black;
    grid-row-start: 1;
    grid-row-end: 4;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

/* for navigation */

.d3{
    background-color: blanchedalmond;
    color: black;
    align-items: center;
    text-align: center;
    grid-row-start: 4;
    grid-row-end: 8;
    border: solid;
    border-color: black;
}

/* for element 21 */

.d5{
    background-color: burlywood;
    color: black;
    grid-column: 2/5;
    text-align: center;
    align-items: center;
    border: solid;
    border-color: black;
}
/* for element 3 */
.d6{
    background-color: red;
    color: black;
    grid-column: 2/2;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

.d7{
    background-color: rgb(49, 117, 176);
    color: black;
    grid-column: 3/3;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

.d8{
    background-color: yellow;
    color: black;
    grid-column: 4/4;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

.d9{
    background-color: cyan;
    color: black;
    grid-column: 5/5;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

.d10{
    background-color: pink;
    color: black;
    grid-column: 6/6;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

.d11{
    background-color: indianred;
    color: black;
    grid-column: 7/7;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

.d4{
    background-color: silver;
    color: black;
    grid-row: 4 / 8;
    grid-column: 2 / 8;
    align-items: center;
    text-align: center;
    border: solid;
    border-color: black;
}

/* for footer element */

.d12{
    background-color: darkseagreen;
    color: black;
    border: solid;
    border-color: black;
    
    grid-column: 1/8;
    text-align: center;
    align-items: center;
   


}